__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.env
venv/
.env.*
.idea/
.vscode/
.DS_Store
*.log
node_modules/

# Don't copy local assets that are built elsewhere
/dist

# Docker file itself
Dockerfile
